.features-plates

	&__top
		padding-bottom 30px
		position relative
		margin-bottom 60px

		+breakpoint-lg()
			padding-bottom 0
			margin-bottom 11px

	&__bottom
		radius(5px)
		@extend .text-center
		background-color $main-bg
		position relative
		padding 19.29% 25px 25px 25px

		+breakpoint-xl()
			@extend .text-left
			padding 55px 42px 63px 378px

		&-link
			centered-absolute-x()
			position absolute
			max-width 95%
			top -40px

			+breakpoint-lg()
				max-width 55%

			+breakpoint-xl()
				top -50px
				max-width 100%
				transform none
				left 19px

		&-text
			color $white
			line(26,18)
			max-width 210px
			margin 0 auto

			+breakpoint-xl()
				margin 0
				max-width none

	&__slider
		radius(5px)
		shadow(0 10px 30px rgba(47, 34, 87, 0.2))
		background-color $white
		padding 20px 20px 18px 20px

		+breakpoint-lg()
			position relative
			padding 30px 20px 20px 30px

	&__slide
		outline none

		&-heading
			h3-like-title()
			margin-bottom 11px

			+breakpoint-lg()
				margin-bottom 16px

	.slick

		&-slider
			outline none
			border none

		&-slider
			position static

		&-dots
			margin-bottom 0
			text-align right
			position absolute

			+breakpoint-up-to-lg()
				font-size 0
				centered-absolute-x()
				bottom 0

			+breakpoint-lg()
				position relative
				margin-top 21px

			li
				display inline-block
				size(8px,8px)
				margin 0 4px

				+breakpoint-lg()
					size(38px,38px)
					margin 0

					&:not(:last-child)
						margin-right 9px

			button
				size(100%,100%)
				radius(50%)
				padding 0
				display block
				color $white
				border none
				cursor pointer
				outline none
				font-size 0
				background-color $gray--darker

				+breakpoint-lg()
					font-rem(15)
					line(26,15)
					@extend .text-center
					background-color $color-highlighted--secondary

		&-active
			button
				background-color $color-highlighted--secondary
				color darken($gray--lightest, 35.29)

				+breakpoint-lg()
					border 1px solid rgba($text-color, 0.2)
					background-color transparent

