extends ../../templates/main.pug

block variables
	-
		var blogList = [
			{
		  		remarkText:'Патентование',
				title:'В Роспатентe рассказали о новых сервисах',
				mainText:'Дмитрий Медведев проинформировал о том, что им было подписано постановление, утверждающее условия и порядок получения субсидий',
				elementClass:'_w70',
				blogClass: '_highlighted'
			},
			{
				remarkText:'нарушения',
				title:'ТНТ проиграл суд за товарный знак «Универ»',
				mainText:'Телеканал ТНТ пытался через суд оспорить права волгоградского консервного завода на товарный знак «Универ», поскольку это мешает ему полноценно использовать название',
			},
			{
				remarkText:'нарушения',
				title:'Cети бургерных FARШ отказали в иске о нарушении прав на бренд',
				mainText:'Сеть бургерных FARШ, которая является общим проектом холдинга «Мираторг» и известного ресторатора Аркадия Новикова, обратилась в суд ',
			},
			{
				remarkText:'Бренды',
				title:'Медведев подписал постановления о субсидировании НИОКР',
				mainText:'Дмитрий Медведев проинформировал о том, что им было подписано постановление, утверждающее условия и порядок получения субсидий',
			},
			{
				remarkText:'Товарные знаки',
				title:'В Роспатенте рассказали о новых сервисах',
				mainText:'Юрий Зубов, заместитель руководителя Роспатента, сообщил о том, что в апреле следующего года ведомство планирует запустить систему онлайн регистрации программ для ЭВМ',
			}

		];

block main-content
	main
		include ../../blocks/sections/blog-list/list