
/* Øðèôòû */

@font-face {
	font-family: 'fontello2';
	src: url(fonts/fontello2/font/fontello2.woff);
}

@font-face {
	font-family: 'OpenSans_Bold';
	src: url(fonts/OpenSans_Bold.woff);
}
@font-face {
	font-family: 'OpenSans_Italic';
	src: url(fonts/OpenSans_Italic.woff);
}
@font-face {
	font-family: 'OpenSans_Light';
	src: url(fonts/OpenSans_Light.woff);
}
@font-face {
	font-family: 'OpenSans_Regular';
	src: url(fonts/OpenSans_Regular.woff);
}
@font-face {
	font-family: 'OpenSans_Semibold';
	src: url(fonts/OpenSans_Semibold.woff);
}
/* /Øðèôòû */
body {
	font-size: 16px;
}
p {
	font-size: 100%;
}
/* Øàïêà */
.page-header__enter .enter-link::before {
	background-image: url("img/key.png");
	background-size: 21px 11px;
	margin-top: 5px;

}
.page-header__top-section .page-header__enter  {
	margin-top: 15px;
}
.page-header__bottom-section .page-header__logo span.slogan {
	display: block;
	text-align: center;
	color: #404040;
	font-size: 75%;
	font-family: OpenSans_Italic;
	line-height: 1.5;
	margin-top: 10px;
}
.page-header__holder .status-block__text {
	font-family: OpenSans_Italic;
	font-style: normal;
}
.page-header__addresses ul li a.email-link:before {
	content: "";
	display: block;
	background: url("img/e-mail.png") no-repeat center;
	width: 14px;
	height: 14px;
}
.page-header__addresses ul li a.metro-link:before {
	content: "";
	display: block;
	background: url("img/metro.png") no-repeat center;
	width: 14px;
	height: 14px;
}
.page-header__addresses {
	line-height: 1.5;
}
.top-contacts::before {
	background-image: url("img/phone.png");
}
.top-contacts__phone {
	font-family: OpenSans_Regular;
}
.page-header__sub-menu .inner-menu__first-level .inner-menu__wrap>span,
.page-header__sub-menu .inner-menu__first-level .inner-menu__wrap >span a {
	font-family: OpenSans_Semibold;
	font-weight: normal;
}
/* /Øàïêà */

/* Âûïàäàþùèå ìåíþ */
.inner-menu__wrap._contain::before {
	content: " ";
	display: block;
	width: 9px;
	height: 14px;
	background: url("img/arrow2.png") no-repeat center;
}
/* /Âûïàäàþùèå ìåíþ */

/* Ïðèëèïàþùåå ìåíþ */

/* Õëåáíûå êðîøêè */
/*.breadcrumbs-block__item::before {
	content: "";
	display: block;
	width: 9px;
	height: 14px;
	background: url("img/arrow2.png") no-repeat center;
	float: left;
	margin: 3px 8px 0;
}*/
/* /Õëåáíûå êðîøêè */

/* Ïåðâûé áëîê - áëîê ñ êîðîáêîé */
.c-product-card__caption {
	font-weight: normal;
}
.c-product-card__middle-col .simple-tabs__tab p {
	line-height: 1.5;
}
.c-product-card__right-col ul {
	background-color: #f2f2f2;
	padding: 40px 40px 20px;
}
.c-product-card__right-col ul li {
	margin-bottom: 35px;
}
.c-product-card__right-col ul li a {
	float: left;
	font-size: 20px;
	font-family: OpenSans_Semibold;
	border-bottom: 1px dotted rgba(222, 65, 10, 0.3);
}
.c-product-card__right-col ul li a:hover {
	border-bottom: 1px dotted black;
}
.c-product-card__right-col ul li {
	font-family: OpenSans_Semibold;
}
.c-product-card__right-col ul li img {
	padding: 3px 0 0 5px;
}
.c-product-card__right-col ul li img:after {
	content: "";
	clear: both;
	overflow: hidden;
}
/* /Ïåðâûé áëîê - áëîê ñ êîðîáêîé */

.c-capabilities {
	padding-bottom: 80px;
	padding-top: 51px;
}
.c-capabilities__cols::after {
	clear: both;
	content: "";
	display: block;
}
/* Ìåíþ ñ òàáàìè */
.c-prices__tab {
	font-family: 'OpenSans_Semibold';
	font-weight: normal;
	background-color: #fff;
	color: #de410a;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-right: 7px;
	transition: all 0.2s linear 0s;
	vertical-align: top;
}
.c-prices__tab-list > span {
	display: none;
}
.c-prices__tab > a,
.c-prices__tab:hover > a,
.c-prices__tab .active {
	font-family: 'OpenSans_Semibold';
	font-weight: normal;
}
.c-prices__tab:hover > a {
	color: #404040;
}
.c-prices__tab-list .active {
	background-color: #ffb515;
	border-color: #ffb515;
	color: #fff;
}
.c-prices__tab > a {
	display: block;
	padding: 16px 18px;
}
.c-prices__tab > a span {
	border-bottom: 1px dotted rgba(222, 65, 10, 0.3);
}
.c-prices__tab-list .active > a span {
	border-bottom: none;
}
.c-prices__tab > a:hover span {
	border-bottom: none;
}
.c-prices__tab .active > a > span {
	border-color: transparent;
}
/*.c-prices__tab-list > span {
    display: none;
}*/

/* /Ìåíþ ñ òàáàìè */
/*ul.c-prices__tab-list {
	clear: both;
	overflow: hidden;
}
ul.c-prices__tab-list li.c-prices__tab {
	float: left;
	margin: 0 10px 10px 0;
}
ul.c-prices__tab-list li.c-prices__tab a {
	display: block;
	padding: 15px 20px;
	text-decoration: underline dotted;
    color: #de410a;
	background: white;
}*/
.c-capabilities___cols {
	padding-top: 40px;
}
.c-capabilities__left-col {
	box-sizing: border-box;
	float: left;
	padding-right: 16px;
	width: 50%;
}
.c-capabilities__right-col {
	box-sizing: border-box;
	float: right;
	padding-left: 16px;
	width: 50%;
}
/* Ìàðêèðîâàííûé ñïèñîê */
.marked {
	padding-bottom: 20px;
}
.marked p  {
	font-size: 125%;
	padding-left: 15px;
}
.marked span{
	font-size: 125%;
	display: block;
	padding-left: 15px;
}
.marked::before {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	float: left;
	margin: 8px 10px 0 0;
	background: url("img/marker.png") no-repeat center;
	list-style-position: outside;
}
/* /Ìàðêèðîâàííûé ñïèñîê */
ul.c-prices__tab-list li.c-prices__tab a:active,
ul.c-prices__tab-list li.c-prices__tab a:hover {
	background: #ffb515;
	color: white;
	text-decoration: none;
}
ul.c-prices__tab-list li.c-prices__tab a {
	font-size: 20px;
}
.c-product_versions {
	padding-top: 60px;
	padding-bottom: 82px;
}
.c-product_versions .product-plate a.product-plate__link {
	border-bottom: 1px dotted rgba(222, 65, 10, 0.3);
	color: #de410a;
	font-size: 20px;
}
.c-product_versions .product-plate a.product-plate__link:hover {
	border-bottom-color: rgba(64, 64, 64, 0.3);
	color: #404040;
}
.c-product_versions ul.product-list__cols {
	padding-bottom: 52px;
}
.c-product_versions ul.product-list__cols li.product-list__item .product-plate__text{
	line-height: 1.5;
	font-size: 100%;
}
.c-product_versions ul.product-list__cols li.product-list__item .product-plate__text p {
	text-align: left;
}
.c-product_versions .c-product_versions_options {
	width: auto;
	text-align: center;
	padding: 40px;
	border: 3px solid #f2f2f2;
}
/* Êíîïêà*/
.preorder-block__btn {
	font-size: 125%;
	max-width: 250px;
	width: 100%;
}
.preorder-block__btn:last-child {
	margin-bottom: 0;
}
.preorder-block__btn:first-child {
	margin-top: 0;
}
.c-product-card__preorder-block-btn {
	padding-bottom: 15px;
	padding-top: 17px;
}
.content-area .button, .plate-content .button, .content-area .promo-slide__price, .plate-content .promo-slide__price, .content-area .search-title__submit, .plate-content .search-title__submit, .button, .promo-slide__price, .search-title__submit {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #ffb515;
	border-color: -moz-use-text-color -moz-use-text-color #b27f0f;
	border-image: none;
	border-style: none none solid;
	border-width: medium medium 2px;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	text-decoration: none;
	transition: color 0.2s ease 0s, border-bottom-color 0.2s ease 0s, background-color 0.2s ease 0s;
}
input, textarea {
	-moz-user-select: text;
	resize: none;
}
input, select, textarea {
	border-radius: 0;
	box-shadow: none;
}
button, input, select[multiple], textarea {
	background-image: none;
}
button, input {
	line-height: normal;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
}
.content-area .button:hover, .plate-content .button:hover, .content-area .promo-slide__price:hover, .plate-content .promo-slide__price:hover, .content-area .search-title__submit:hover, .plate-content .search-title__submit:hover, .button:hover, .promo-slide__price:hover, .search-title__submit:hover {
	background-color: #de410a;
	border-bottom-color: #9b2d07;
	color: #fff;
}
.c-product_versions .c-product_versions_options .preorder-block__btn {
	max-width: 300px;
}
a.pupop input {
	font-family: 'OpenSans_Semibold';
	font-weight: normal;
}
/* /Êíîïêà*/


.c-product_versions .c-product_versions__products p {
	text-align: center;
	line-height: 1.5;
	font-size: 125%;
}
.c-product_versions .product-plate__content .more-info {
	position: relative;
}
.c-product_versions .product-plate__content .product-plate__link::after {
	content: " ";
	display: block;
	background: url("img/arrow2.png") no-repeat center;
	width: 9px;
	height: 14px;
	right: -20px;
	top: 0;
}

/* Îò ïåðâîãî ëèöà*/
.c-about {
	background: url("img/background_Alexander.jpg") center top no-repeat;
	padding-bottom: 110px;
	padding-top: 70px;
}
.c-about p {
	line-height: 1.3;
	font-size: 125%;
}
.c-about .content-center {
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
}
.c-about__cols::after {
	clear: both;
	content: "";
	display: block;
}
.c-about__left-col {
	box-sizing: border-box;
	float: left;
	padding-right: 16px;
	width: 50%;
}
.c-about__right-col {
	box-sizing: border-box;
	float: right;
	padding-left: 16px;
	width: 50%;
}
.c-about__right-col .c-about__caption {
	margin-bottom: 40px;
}
/* /Îò ïåðâîãî ëèöà*/

/* Áëîê ñ òîïàìè*/
.c-tops {
	padding-top: 80px;
}
.c-tops p {
	line-height: 1.5;
}
.c-tops .content-center {
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
	border-bottom: 3px solid #f2f2f2;
	padding-bottom: 70px;
}
.c-tops__cols::after {
	clear: both;
	content: "";
	display: block;
}
.c-tops__left-col {
	box-sizing: border-box;
	float: left;
	padding-right: 16px;
	width: 50%;
}
.c-tops__right-col {
	box-sizing: border-box;
	float: right;
	padding-left: 16px;
	width: 50%;
}
.c-tops__right-col .c-tops__tops {
	background: #f2f2f2;
	padding: 40px;
}
.c-tops__right-col .c-tops__tops .c-tops__top {
	clear: both;
	overflow: hidden;
}
.c-tops__right-col .c-tops__tops .c-tops__top p {
	margin-top: 0;
}
.c-tops__right-col .c-tops__tops img {
	float: left;
	margin: 0 20px 20px 0;
}
/* /Áëîê ñ òîïàìè*/

/* Áëîê: Áóäåì ðàäû çíàêîìñòâó*/
.c-acquaintance {
	padding-top: 50px;
	padding-bottom: 100px;
}
.c-acquaintance p {
	line-height: 1.5;
}
.c-acquaintance .content-center {
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
	padding-bottom: 70px;
}
.c-acquaintance__cols::after {
	clear: both;
	content: "";
	display: block;
}
.c-acquaintance__left-col {
	box-sizing: border-box;
	float: left;
	padding-right: 16px;
	width: 50%;
}
.c-acquaintance__left-col ul li p,
.c-with_pleasure__left-col ul li p {
	font-family: 'OpenSans_Semibold';
	line-height: 1.3;
}
.c-acquaintance__left-col ul li.marked::before,
.c-with_pleasure__left-col ul li.marked::before {
	margin: 15px 10px 0 0;
}
.c-acquaintance__right-col {
	box-sizing: border-box;
	float: right;
	padding-left: 16px;
	width: 50%;
	text-align: center;
}
.c-acquaintance__right-col .c-acquaintance__consultation,
.c-with_pleasure__right-col .c-with_pleasure__consultation {
	text-align: center;
	background: #f2f2f2;
	padding: 40px 20px;
}
.c-acquaintance__right-col .preorder-block__btn,
.c-with_pleasure__right-col .preorder-block__btn {
	max-width: 300px;
}
/* Áëîê: Áóäåì ðàäû çíàêîìñòâó*/

/* Áëîê: Çàäà÷è, êîòîðûå ìû ðåøàåì*/
.c-tasks {
	padding-top: 60px;
	background: #f2f2f2;
}
.c-tasks p {
	line-height: 1.5;
}
.c-tasks .content-center {
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
	padding-bottom: 70px;
	clear: both;
	overflow: hidden;
}
.c-tasks._pb80 .content-center {
	padding-bottom: 80px;
}
.c-tasks__callback {
	margin-top: 70px;
}
.c-tasks__cols:after {
	clear: both;
	content: "";
	display: block;
}
.c-tasks__cols {
	padding-top: 50px;
}
.c-tasks__left-col {
	box-sizing: border-box;
	float: left;
	padding-right: 16px;
	width: 20%;
	min-width: 165px;
}
.c-tasks__right-col {
	box-sizing: border-box;
	float: right;
	padding-left: 16px;
	width: 80%;
}
/* /Áëîê: Çàäà÷è, êîòîðûå ìû ðåøàåì*/

/* Áëîê: Ôîðìàòû ðàáîòû*/
.c-forms {
	padding-top: 60px;
}
.c-forms p {
	line-height: 1.5;
}
.c-forms .content-center {
	border-bottom: 3px solid #f2f2f2;
	padding-bottom: 70px;
}
.c-forms_list {
	clear: both;
	overflow: hidden;
}
.c-forms_list .c-forms_list_item {
	float: left;
	text-align: center;
	width: 33.333%;
}
.c-forms_product-list {
	overflow: hidden;
	min-width: 215px;
}
.c-forms_list__cols::after,
.c-forms_list__item  .c-forms_list-plate:after {
	clear: both;
	content: "";
	display: block;
}
.c-forms_list__item {
	box-sizing: border-box;
	float: left;
	margin-top: 30px;
	width: 46.8%;
	margin: 30px 15px 0;
}
.c-forms_list__item  .c-forms_list-plate {
	background-color: #f2f2f2;
	border-bottom: 3px solid #ffb515;
	height: 315px;
}
.c-forms_list__item .c-forms_list-plate__content {
	height: 90px;
	padding: 40px;
}
.c-forms_list-plate__text {
	line-height: 1.5;
	font-family: 'OpenSans_Regular';
}
.c-forms_list__item .content_text {
	border-bottom: 2px solid white;
}
.c-forms_list__item .content_price {
	padding-top: 30px;
}
.c-forms_list__item .content_price .__price {
	font-size: 275%;
	font-family: 'OpenSans_Light';
}
.c-forms_list__item .content_price .c-forms_list-plate__price .__time {
	font-size: 132%;
	font-family: 'OpenSans_Light';
}
/* /Áëîê: Ôîðìàòû ðàáîòû*/

/* Áëîê: Ðàáîòàéòå â óäîâîëüñòâèå*/
.c-with_pleasure {
	padding-top: 50px;
}
.c-with_pleasure p {
	line-height: 1.5;
}
.c-with_pleasure .content-center {
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
	padding-bottom: 70px;
}
.c-with_pleasure__cols::after {
	clear: both;
	content: "";
	display: block;
}
.c-with_pleasure__left-col {
	box-sizing: border-box;
	float: left;
	padding-right: 16px;
	width: 50%;
}
.c-with_pleasure__right-col {
	box-sizing: border-box;
	float: right;
	padding-left: 16px;
	width: 50%;
	text-align: center;
}
.c-with_pleasure .c-with_pleasure__consultation {
	padding: 40px 10px;
}
/* /Áëîê: Ðàáîòàéòå â óäîâîëüñòâèå*/

/* Áëîê: Íàøè êëèåíòû*/
.c-our_clients {
	padding-bottom: 75px;
	padding-top: 60px;
	background: #f2f2f2;
}
.c-our_clients p {
	line-height: 1.5;
}
/* Êàðóñåëü*/
.items-carousel__prev::before,
.items-carousel__next::before {
	content: " ";
	background: url("img/arrows.png") no-repeat;
	display: block;
}
.items-carousel__prev:before{
	background-position: 0px 0px;
	height: 36px;
	width: 21px;
}
.items-carousel__prev:hover:before {
	background-position: -21px 0;
	height: 36px;
	width: 21px;
}
.items-carousel__next:before {
	background-position: -42px 0px;
	height: 36px;
	width: 21px;
}
.items-carousel__next:hover:before {
	background-position: -63px 0px;
	height: 36px;
	width: 21px;
}
/* /Êàðóñåëü*/
.c-our_clients .c-our_clients_text {
	padding-bottom: 40px;
}
/* /Áëîê: Íàøè êëèåíòû*/

/* Áëîê: Íàø îïûò*/
.c-our_experience {
	padding-top: 60px;
}
.c-our_experience p {
	line-height: 1.5;
	font-size: 17px;
}
.c-our_experience .content-center {
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
	padding-bottom: 70px;
	clear: both;
	overflow: visible;
}
.c-our_experience.experience-big .content-center {
    padding-bottom: 0;
}
.c-our_experience._gray .c-our_experience__cols {
	background: #ffffff;
}
.c-our_experience__cols {
	background: #f2f2f2;
	padding: 40px;
}
.c-our_experience__cols:after {
	clear: both;
	content: "";
	display: block;
}
.c-our_experience__left-col {
	box-sizing: border-box;
	float: left;
	padding-right: 16px;
	width: 20%;
	min-width: 177px;
}
.c-our_experience__right-col {
	box-sizing: border-box;
	float: right;
	padding-left: 16px;
	width: 78%;
}
.c-our_experience__right-col_1 {
	width: 50%;
	float: left;
}
.c-our_experience__right-col_2 {
	width: 50%;
	float: right;
}
.c-our_experience__img {
	width: 176px;
	margin-bottom: 20px;
}

.c-our_experience._gray .c-our_experience__img {
    border: 2px solid #f2f2f2;
}

.experience-section__partners:last-child {
	margin-bottom: 38px;
}
/* /Áëîê: Íàø îïûò*/

/* Áëîê ñ òåäåôîíîì */
.c-phone {
	padding-bottom: 80px;
	height: 275px;
}
.c-phone.inverse {
    padding-top: 80px;
    padding-bottom: 0;
}
.c-phone .callback-promo {
	height: 275px;
}
.c-phone .callback-promo__bg {
	background: url("img/background_phone.jpg") no-repeat;
}
.c-phone .callback-promo__caption {
	font-family: 'OpenSans_Regular';
	font-weight: normal;
}
/* /Áëîê ñ òåäåôîíîì */

/* Ïîäâàë */
.page-footer .first-iteration-hidden {
	display: block;
}
.icon-gplus-1::before,
.icon-facebook-1::before,
.icon-linkedin-1::before {
	margin: 0;
	font-size: 20px;
}
.page-footer ._small {
	display: none;
}
.page-footer__text {
	line-height: 1.5;
	margin: 25px 0;
}
.page-footer__dev {
	margin-top: 70px;
}
.footer-menu ul li {
	line-height: 1.5;
}

/* /Ïîäâàë */

@media screen and (max-width: 1024px) {
	body {
		font-size: 14px;
	}
	.c-product-card__right-col {
		float: left;
		width: 50%;
	}
	.c-product-card__left-holder {
		clear: both;
		padding-top: 40px;
	}
	.c-about__right-col p {
		line-height: 1.3;
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.c-tops p {
		margin-bottom: 20px;
	}
	.c-tops__right-col .c-tops__tops img {
		float: none;
	}
	.c-tasks__right-col {
		width: 70%;
	}
	.c-our_experience__right-col {
		width: 65%;
		margin-left: 20px;
		float: left;
	}
	.c-forms_list__item {
		margin: 30px 10px 0;
	}
	.c-forms_list__item {
		width: 43.8%;
	}
	.c-forms_list__item .c-forms_list-plate__content {
		height: auto;
		padding: 20px
	}

}

@media screen and (max-width: 705px) {
	.product-list__cols li:last-child {
		clear: both;
	}
	.product-list__item {
		width: 50%;
	}
	.c-about {
		background: none;
		padding-top: 0;
		padding-bottom: 0;
	}
	.c-about__right-col	{
		width: 100%;
		padding-left: 0px;
		float: none;
	}
	.c-about__left-col {
		display: none;
	}
	.c-product-card__right-col {
		float: left;
		width: 100%;
		padding-left: 0;
	}
	.c-tasks__left-col {
		display: none;
		float: left;
		padding-left: 0;
	}
	.c-tasks__right-col {
		width: 100%;
	}
	.c-forms_list__item .content_price .__price {
		font-size: 200%;
	}
	.c-our_experience__left-col {
		width: 100%;
		padding-right: 0;
	}
	.c-our_experience__right-col {
		width: 100%;
		margin-left: 0;
		padding: 20px 0 0 0;
	}
	.c-our_experience__right-col_1  {
		padding-right: 10px;
		width: 45%;
		word-wrap: break-word;
	}
	.c-our_experience__right-col_2  {
		padding-left: 10px;
		width: 45%;
		word-wrap: break-word;
	}

}

@media screen and (max-width: 660px) {
	.c-product-card__right-col {
		float: left;
		width: 100%;
		padding-left: 0;
	}
	.c-tasks__left-col {
		display: none;
	}
	.c-product-card__right-col {
		float: left;
		width: 100%;
		padding-left: 0;
	}
	.c-tasks__left-col {
		display: none;
	}
	.c-forms_list__item .content_price .__price {
		font-size: 160%;
	}
}

@media screen and (max-width: 480px) {

	/* Ìåíþ ñ òàáàìè*/
	/*.c-prices__tab-list._w-720 {
		position: relative;
	}
	.c-prices__tab {
		border: 3px solid #f2f2f2;
		font-family: 'OpenSans_Semibold';
		height: 54px;
		color: #de410a;
		display: inline-block;
		font-size: 20px;
		font-weight: 600;
		padding-top: 5px;
		margin-bottom: 10px;
		margin-right: 7px;
		transition: all 0.2s linear 0s;
		vertical-align: top;
	}
	.c-prices__tab.active {
		background-color: #ffb515;
		border-color: #ffb515;
		color: #fff;
	}
	.c-prices__tab-list._w-720 .c-prices__tab {
		border: medium none;
		display: block;
		height: 0;
		margin: 0;
		opacity: 0;
		padding: 0;
		visibility: hidden;
	}
	.c-prices__tab-list._w-720 .c-prices__tab.visible {
		border: 2px solid #f2f2f2;
		display: block;
		min-height: 54px;
		height: auto;
		opacity: 1;
		visibility: visible;
	}
	.c-prices__tab-list._w-720 .c-prices__tab.active {
		border: 2px solid #f2f2f2;
		display: block;
		min-height: 54px;
		height: auto;
		opacity: 1;
		visibility: visible;
	}
	.c-prices__tab.active {
		background-color: #ffb515;
		color: #fff;
	}
	.c-prices__tab > a {
		min-height: 30px;
		height: auto;
		display: block;
		padding: 15px 10px 22px 15px;
	}
	.c-prices__tab.active:hover a {
		height: auto;
	}
	.c-prices__tab.active > a > span {
		border-color: transparent;
	}
	.c-prices__tab > a > span {
		border-bottom: 1px dotted rgba(222, 65, 10, 0.5);
		transition: all 0.3s linear 0s;
	}
	.c-prices__tab-list > span {
		display: block;
	}
	.c-prices__tab-list > span {
		color: #fff;
		cursor: pointer;
		display: block;
		font-family: "fontello2";
		height: 54px;
		line-height: 54px;
		position: absolute;
		right: 2px;
		text-align: center;
		top: 2px;
		transition: all 0.3s linear 0s;
		width: 54px;
		z-index: 10;
	}
	.c-prices__tab-list > span.active {
		transform: rotate(180deg);
	}*/


	/* /Ìåíþ ñ òàáàìè*/

	.c-product-card__right-col {
		float: left;
		width: 100%;
		padding-left: 0;
	}
	.c-capabilities__left-col,
	.c-capabilities__right-col	{
		width: 100%;
		padding-left: 0;
		float: none;
	}
	.c-capabilities__right-col {
		width: 100%;
		float: none;
	}
	.c-product_versions .c-product_versions_options {
		padding: 10px;
	}
	.preorder-block__btn {
		padding: 15px;
		font-weight: 400;
		width: 100%;
	}
	.c-about__left-col {
		display: none;
	}
	.c-about__right-col,
	.c-tops__right-col,
	.c-acquaintance__right-col,
	.c-tasks__right-col,
	.c-with_pleasure__right-col {
		width: 100%;
		padding-left: 0px;
		float: none;
	}
	.c-tops__left-col,
	.c-acquaintance__left-col,
	.c-forms_list__item,
	.c-with_pleasure__left-col,
	.c-our_experience__left-col,
	.c-our_experience__right-col_1,
	.c-our_experience__right-col_2{
		width: 100%;
		float: none;
	}
	.c-tops__right-col .c-tops__tops .c-tops__top img {
		margin: 0 0 20px;
	}
	.c-acquaintance {
		padding-bottom: 0;
	}
	.c-tasks__left-col {
		display: none;
	}
	/*.c-tasks .c-prices__tab-list .c-prices__tab:last-child,
	.c-tasks .c-prices__tab-list .c-prices__tab:last-child a{
		height: 65px;
	}*/
	.c-forms_list .c-forms_list_item {
		width: 100%;
		margin-bottom: 20px;
	}
	.c-forms_list__item	{
		margin: 30px 0 0;
	}
	.c-forms_list__item .content_price .__price {
		font-size: 250%;
	}
	.c-our_experience__right-col {
		width: 100%;
		padding-left: 0;
		margin: 20px 0 0;
		float: none;
	}
	.c-our_experience__right-col_1  {
		padding-right: 0;
		width: 100%;
		word-wrap: break-word;
	}
	.c-our_experience__right-col_2  {
		padding-top: 20px;
		padding-left: 0;
		width: 100%;
		word-wrap: break-word;
	}
	.c-phone {
		height: auto;
	}
	.c-phone .callback-promo {
		height: auto;
	}
}
