.section
	padding-top 30px
	padding-bottom 30px

	+breakpoint-md()
		padding-top 60px
		padding-bottom 60px

	&._light-gray
		background-color darken($gray--lightest, 1.18)

	&._lightest-gray
		background-color $section-bg-lightest

	&._lighten-gray
		background-color $section-bg-lighten