include ../_mixins

footer.footer
	div.container
		div.footer__row
			div.footer__left
				a(href='javascript:void(0)').footer__logo
					img(alt='Лого' src='../../templates/main/assets/images/logos/logo.svg')

				address.footer__contacts
					a(href='tel:+74951345732').footer__contacts-link +7 495 134-57-32
					a(href='mailto:brandsearch.ru').footer__contacts-link Brandsearch.ru
				a.btn._sm-font.footer__btn Войти в личный кабинет

				p.footer__license-info #[span Корпоративная политика в отношении персональных данных] #[span © 2005-2020 Brandsearch.ru]

			div.footer__right
				div.footer__lists-wrapper
					div.footer__lists
						div.footer__lists-section
							a(href='javascript:void(0)').footer__lists-title Товарные знаки
							ul.footer__list
								li
									a(href="javascript:void(0)").footer__list-link Поиск товарного знака
								li
									a(href="javascript:void(0)").footer__list-link Поиск нарушений
								li
									a(href="javascript:void(0)").footer__list-link Поиск по изображениям
								li
									a(href="javascript:void(0)").footer__list-link Подборки по категориям
								li
									a(href="javascript:void(0)").footer__list-link Популярные товарные знаки
								li
									a(href="javascript:void(0)").footer__list-link База товарных знаков

						div.footer__lists-section
							a(href='javascript:void(0)').footer__lists-title Фирменные наименования
							ul.footer__list
								li
									a(href="javascript:void(0)").footer__list-link База юридических лиц
								li
									a(href="javascript:void(0)").footer__list-link Поиск нарушений

					div.footer__lists
						div.footer__lists-section
							a(href='javascript:void(0)').footer__lists-title Доменные имена
							ul.footer__list
								li
									a(href="javascript:void(0)").footer__list-link Проверка занятости
								li
									a(href="javascript:void(0)").footer__list-link Как зарегистировать занятый домен

						div.footer__lists-section
							a(href='javascript:void(0)').footer__lists-title О сервисе
							ul.footer__list
								li
									a(href="javascript:void(0)").footer__list-link Алогоритм поиска
								li
									a(href="javascript:void(0)").footer__list-link Источники данных
								li
									a(href="javascript:void(0)").footer__list-link Конфиденциальность
								li
									a(href="javascript:void(0)").footer__list-link Новости
								li
									a(href="javascript:void(0)").footer__list-link Контакты