include ../_mixins

footer.footer
	div.container
		div.footer__row
			div.footer__left
				a(href='javascript:void(0)').footer__logo
					img(alt='Лого' src='../../templates/main/assets/images/logos/logo.svg')

				address.footer__contacts
					a(href='tel:+74951345732').footer__contacts-link +7 495 134-57-32
					a(href='mailto:brandsearch.ru').footer__contacts-link Brandsearch.ru
				a.btn._sm-font.footer__btn Войти в личный кабинет

				p.footer__license-info #[span Корпоративная политика в отношении персональных данных] #[span © 2005-2020 Brandsearch.ru]

			div.footer__right
				div.footer__lists-wrapper
					div.footer__lists

						div.footer__lists-section
							div.footer__lists-title Товарные знаки
							-var footerListItem = ['Поиск товарного знака', 'Поиск нарушений', 'Анализ конкурентов','Как выбрать МКТУ', 'Логотипы по отраслям','База товарных знаков']
							+dropdown-menu(footerListItem)(class='footer__list')

						div.footer__lists-section
							div.footer__lists-title Фирменные наименования
							-var footerListItem = ['База юридических лиц', 'Поиск нарушений']
							+dropdown-menu(footerListItem)(class='footer__list')


					div.footer__lists
						div.footer__lists-section
							a(href='javascript:void(0)').footer__lists-title Доменные имена
							-var footerListItem = ['Проверка занятости', 'Как зарегистировать занятый домен']
							+dropdown-menu(footerListItem)(class='footer__list')

						div.footer__lists-section
							a(href='javascript:void(0)').footer__lists-title О сервисе
							-var footerListItem = ['Алгоритм', 'Источники данных', 'Конфиденциальность', 'Партнерам', 'Блог ', 'Контакты ' ]
							+dropdown-menu(footerListItem)(class='footer__list')