include ../../../global/_mixins

section.section.uneasy-search-section._lightest-gray
	div.container
		div.row-lg
			div.col-lg.col-lg--2-5.hide-up-to-lg
				div.uneasy-search-section__img
					img(alt='Проверка бренда' src='../../templates/main/assets/images/services-img/service-img-8.svg')
			div.col-lg.col-lg--3-5
				div.uneasy-search-section__wrap
					h2.heading-h2._left.uneasy-search-section__title #[span.uneasy-search-section__title-underlined не] Простой поиск

					div.uneasy-search-section__text
						p Используйте самый технологичный и продвинутый поиск по объектам интеллектуальной собственности и получайте результаты, которым можно доверять
						a(href="#lightbox").btn.uneasy-search-section__btn.js-fancy-lightbox Попробовать

		- var cards= [{title:'Мощный поиск', text:'Интеллектуальное расширение поискового запроса для поиска на сходство до степени смешения.'},{title:'Умное ранжирование',text:'Собственный алгоритм ранжирования результатов поиска — наиболее высокие риски всегда будут в начале списка.'}, {title:'Простой выбор классов ', text:'Сопоставленные классы МКТУ, коды ОКВЭД и корреспондирующие классы МКТУ для качественного поиска.'}, {title:'Все базы и реестры', text:'Российская и международная база товарных знаков,<b> включая заявки</b>, реестр юрлиц и доменов — проверка по 8 млн записей.'}];

		div.uneasy-search-section__features
			div.numbered-features
				- for (var i = 0; i < cards.length; i++)
					div.numbered-features__element
						+numbered-feature(cards[i])