div.tooltip#stats-section-1
	p Проверка по реестру доменов позволяет найти нарушения ваши средств индивидуализации — названий юрлиц или товарных знаков.Нарушителю можно запретить использовать домен или стать его новым владельцем.

div.tooltip#stats-section-2
	p В поисках учитываются зарегистрированные, а также #[a(href="/about/sources/") находящиеся в процессе регистрации] товарные знаки (заявки). В качестве баз используется российская и международна база товарных знаков дейстующищих на территории РФ.

div.tooltip#stats-section-3
	p Мы используем платную базу ЕГРЮЛ, ежедневно актуализируемую и обновляемую. Наличие #[a(href="/about/sources/") идентичных или сходных юрлиц] может быть серьезным препятствием в регистрации товарного знака. Также база важна для поиска нарушений.