section.section.pictures-content._light-gray
	div.container-sm
		h2.heading-h2 Что здесь можно делать и зачем?
		div.pictures-content__row
			div.pictures-content__col
				div.pictures-content__img-holder
					img(alt='Проверка бренда' src='../../templates/main/assets/images/services-img/service-img-5.svg')

			div.pictures-content__col
				h3.heading-h3 Проверить бренд на возможность регистрации
				p При проверке используем все источники данных: товарные знаки, включая находящиеся на этапе регистрации, названия компаний и домены — информация обновляется каждые 24 часа.
				p Уникальный алгоритм поиска обеспечивает качество и полноту проверки сходства и тождественности. Результаты, которым можно доверять.
				a(href="javascript:void(0)").btn.pictures-content__btn Проверить

		div.pictures-content__row._transformed-on-mobile
			div.pictures-content__col
				h3.heading-h3  Найти нарушения #[br.hide-up-to-md] и риски по вашему бренду
				p Если кто-то нарушает права на ваши товарные знаки или фирменные наименования — вы теряете деньги и рискуете своей репутацией. Важно быстро выявлять и пресекать такие нарушения.
				p Наша технология позволяет выявить такие нарушения среди товарных знаков, названий юрлиц и даже доменных имен.
				a(href="javascript:void(0)").btn.pictures-content__btn Найти нарушения

			div.pictures-content__col
				div.pictures-content__img-holder
					img(alt='Проверка бренда' src='../../templates/main/assets/images/services-img/service-img-6.svg')

		div.pictures-content__row
			div.pictures-content__col
				div.pictures-content__img-holder
					img(alt='Проверка бренда' src='../../templates/main/assets/images/services-img/service-img-7.svg')

			div.pictures-content__col
				h3.heading-h3  Анализировать конкурентов и искать вдохновение
				p Хорошее название должно быть не только уникальным, охранопригодным, но и запоминающимся.
				p Найдите всех ваших действующих конкурентов и создайте своё уникальное, яркое средство индивидуализации.
				a(href="javascript:void(0)").btn.pictures-content__btn Проанализировать