@font-face {
	font-family:'OpenSansCondensed';
	src: url('../fonts/OpenSansCondensed_Bold/OpenSansCondensed_Bold.eot');
	src: url('../fonts/OpenSansCondensed_Bold/OpenSansCondensed_Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSansCondensed_Bold/OpenSansCondensed_Bold.woff') format('woff'),
		url('../fonts/OpenSansCondensed_Bold/OpenSansCondensed_Bold.ttf') format('truetype'),
		url('../fonts/OpenSansCondensed_Bold/OpenSansCondensed_Bold.svg#OpenSans-CondensedBold') format('svg');
	font-weight: 700;
	font-style: normal;
}