div.intro-banner
	h1.heading-h1._white Тотальная проверка вашего бренда
	p.intro-banner__subtitle Уникальный сервис простого поиска по базам товарных знаков, ЕГРЮЛ и доменов.
	form.intro-banner__form
		input.field.intro-banner__input(type='text' placeholder='Компания')
		button(type='submit').btn.intro-banner__btn Проверить
