.tabs

	&__content
		display none

		&._active
			display block

	&__list
		margin-bottom 20px
		font-size 0

		+breakpoint-md()
			text-align center
			margin-bottom 40px

		+breakpoint-up-to-md()
			white-space nowrap
			overflow-x scroll
			margin-right -15px
			margin-left -15px

			&::-webkit-scrollbar
				display none

		&._center
			text-align center

	&__tab
		btn-style($link-color, transparent)
		font-rem(15)
		line(18,15)
		border 1px solid $link-color
		padding-top 8px
		padding-bottom 8px

		&:not(:last-child)
			margin-right 10px

		+breakpoint-md()
			font-rem(18)
			line(21,18)
			padding-top 11px
			padding-bottom 11px

		&:not(._active)
			border 1px solid $link-color

			&:hover
				border-color $color-highlighted
				background-color transparent
				color $text-color

		&._active
			background-color $main-bg
			color $white
			padding-top 8px
			padding-bottom 8px
			border 1px solid transparent

			+breakpoint-md()
				padding-top 11px
				padding-bottom 11px