div.intro-search-banner
	h1.intro-search-banner__title Тотальная проверка вашего бренда
	p.intro-search-banner__subtitle Уникальный сервис простого поиска по базам товарных знаков, ЕГРЮЛ и доменов.
	form.intro-search-banner__form
		input.field.intro-search-banner__input(type='text' placeholder='Компания')
		a(href='javascript:void(0)').btn.intro-search-banner__btn Проверить
