/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_arrow_process_name = 'icon-arrow-process';
$icon_arrow_process_x = 0px;
$icon_arrow_process_y = 0px;
$icon_arrow_process_offset_x = 0px;
$icon_arrow_process_offset_y = 0px;
$icon_arrow_process_width = 15px;
$icon_arrow_process_height = 6px;
$icon_arrow_process_total_width = 260px;
$icon_arrow_process_total_height = 701px;
$icon_arrow_process_image = '../assets/sprites/sprite.png?1591354191180';
$icon_arrow_process = 0px 0px 0px 0px 15px 6px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-arrow-process';
$icon_check_name = 'icon-check';
$icon_check_x = 0px;
$icon_check_y = 8px;
$icon_check_offset_x = 0px;
$icon_check_offset_y = -8px;
$icon_check_width = 15px;
$icon_check_height = 11px;
$icon_check_total_width = 260px;
$icon_check_total_height = 701px;
$icon_check_image = '../assets/sprites/sprite.png?1591354191180';
$icon_check = 0px 8px 0px -8px 15px 11px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-check';
$icon_clip_red_name = 'icon-clip-red';
$icon_clip_red_x = 0px;
$icon_clip_red_y = 49px;
$icon_clip_red_offset_x = 0px;
$icon_clip_red_offset_y = -49px;
$icon_clip_red_width = 12px;
$icon_clip_red_height = 14px;
$icon_clip_red_total_width = 260px;
$icon_clip_red_total_height = 701px;
$icon_clip_red_image = '../assets/sprites/sprite.png?1591354191180';
$icon_clip_red = 0px 49px 0px -49px 12px 14px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-clip-red';
$icon_clip_name = 'icon-clip';
$icon_clip_x = 0px;
$icon_clip_y = 81px;
$icon_clip_offset_x = 0px;
$icon_clip_offset_y = -81px;
$icon_clip_width = 14px;
$icon_clip_height = 17px;
$icon_clip_total_width = 260px;
$icon_clip_total_height = 701px;
$icon_clip_image = '../assets/sprites/sprite.png?1591354191180';
$icon_clip = 0px 81px 0px -81px 14px 17px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-clip';
$icon_coins_name = 'icon-coins';
$icon_coins_x = 0px;
$icon_coins_y = 237px;
$icon_coins_offset_x = 0px;
$icon_coins_offset_y = -237px;
$icon_coins_width = 100px;
$icon_coins_height = 100px;
$icon_coins_total_width = 260px;
$icon_coins_total_height = 701px;
$icon_coins_image = '../assets/sprites/sprite.png?1591354191180';
$icon_coins = 0px 237px 0px -237px 100px 100px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-coins';
$icon_diagramma_name = 'icon-diagramma';
$icon_diagramma_x = 0px;
$icon_diagramma_y = 441px;
$icon_diagramma_offset_x = 0px;
$icon_diagramma_offset_y = -441px;
$icon_diagramma_width = 260px;
$icon_diagramma_height = 260px;
$icon_diagramma_total_width = 260px;
$icon_diagramma_total_height = 701px;
$icon_diagramma_image = '../assets/sprites/sprite.png?1591354191180';
$icon_diagramma = 0px 441px 0px -441px 260px 260px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-diagramma';
$icon_document_loop_name = 'icon-document-loop';
$icon_document_loop_x = 0px;
$icon_document_loop_y = 339px;
$icon_document_loop_offset_x = 0px;
$icon_document_loop_offset_y = -339px;
$icon_document_loop_width = 100px;
$icon_document_loop_height = 100px;
$icon_document_loop_total_width = 260px;
$icon_document_loop_total_height = 701px;
$icon_document_loop_image = '../assets/sprites/sprite.png?1591354191180';
$icon_document_loop = 0px 339px 0px -339px 100px 100px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-document-loop';
$icon_document_name = 'icon-document';
$icon_document_x = 0px;
$icon_document_y = 164px;
$icon_document_offset_x = 0px;
$icon_document_offset_y = -164px;
$icon_document_width = 56px;
$icon_document_height = 71px;
$icon_document_total_width = 260px;
$icon_document_total_height = 701px;
$icon_document_image = '../assets/sprites/sprite.png?1591354191180';
$icon_document = 0px 164px 0px -164px 56px 71px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-document';
$icon_eye_name = 'icon-eye';
$icon_eye_x = 0px;
$icon_eye_y = 35px;
$icon_eye_offset_x = 0px;
$icon_eye_offset_y = -35px;
$icon_eye_width = 17px;
$icon_eye_height = 12px;
$icon_eye_total_width = 260px;
$icon_eye_total_height = 701px;
$icon_eye_image = '../assets/sprites/sprite.png?1591354191180';
$icon_eye = 0px 35px 0px -35px 17px 12px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-eye';
$icon_fife_name = 'icon-fife';
$icon_fife_x = 0px;
$icon_fife_y = 21px;
$icon_fife_offset_x = 0px;
$icon_fife_offset_y = -21px;
$icon_fife_width = 5px;
$icon_fife_height = 12px;
$icon_fife_total_width = 260px;
$icon_fife_total_height = 701px;
$icon_fife_image = '../assets/sprites/sprite.png?1591354191180';
$icon_fife = 0px 21px 0px -21px 5px 12px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-fife';
$icon_file_name = 'icon-file';
$icon_file_x = 0px;
$icon_file_y = 100px;
$icon_file_offset_x = 0px;
$icon_file_offset_y = -100px;
$icon_file_width = 46px;
$icon_file_height = 62px;
$icon_file_total_width = 260px;
$icon_file_total_height = 701px;
$icon_file_image = '../assets/sprites/sprite.png?1591354191180';
$icon_file = 0px 100px 0px -100px 46px 62px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-file';
$icon_flag_china_name = 'icon-flag--china';
$icon_flag_china_x = 0px;
$icon_flag_china_y = 65px;
$icon_flag_china_offset_x = 0px;
$icon_flag_china_offset_y = -65px;
$icon_flag_china_width = 22px;
$icon_flag_china_height = 14px;
$icon_flag_china_total_width = 260px;
$icon_flag_china_total_height = 701px;
$icon_flag_china_image = '../assets/sprites/sprite.png?1591354191180';
$icon_flag_china = 0px 65px 0px -65px 22px 14px 260px 701px '../assets/sprites/sprite.png?1591354191180' 'icon-flag--china';
$icon_arrow_process_2x_name = 'icon-arrow-process@2x';
$icon_arrow_process_2x_x = 0px;
$icon_arrow_process_2x_y = 0px;
$icon_arrow_process_2x_offset_x = 0px;
$icon_arrow_process_2x_offset_y = 0px;
$icon_arrow_process_2x_width = 30px;
$icon_arrow_process_2x_height = 12px;
$icon_arrow_process_2x_total_width = 520px;
$icon_arrow_process_2x_total_height = 1402px;
$icon_arrow_process_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_arrow_process_2x = 0px 0px 0px 0px 30px 12px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-arrow-process@2x';
$icon_check_2x_name = 'icon-check@2x';
$icon_check_2x_x = 0px;
$icon_check_2x_y = 16px;
$icon_check_2x_offset_x = 0px;
$icon_check_2x_offset_y = -16px;
$icon_check_2x_width = 30px;
$icon_check_2x_height = 22px;
$icon_check_2x_total_width = 520px;
$icon_check_2x_total_height = 1402px;
$icon_check_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_check_2x = 0px 16px 0px -16px 30px 22px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-check@2x';
$icon_clip_red_2x_name = 'icon-clip-red@2x';
$icon_clip_red_2x_x = 0px;
$icon_clip_red_2x_y = 98px;
$icon_clip_red_2x_offset_x = 0px;
$icon_clip_red_2x_offset_y = -98px;
$icon_clip_red_2x_width = 24px;
$icon_clip_red_2x_height = 28px;
$icon_clip_red_2x_total_width = 520px;
$icon_clip_red_2x_total_height = 1402px;
$icon_clip_red_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_clip_red_2x = 0px 98px 0px -98px 24px 28px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-clip-red@2x';
$icon_clip_2x_name = 'icon-clip@2x';
$icon_clip_2x_x = 0px;
$icon_clip_2x_y = 162px;
$icon_clip_2x_offset_x = 0px;
$icon_clip_2x_offset_y = -162px;
$icon_clip_2x_width = 28px;
$icon_clip_2x_height = 34px;
$icon_clip_2x_total_width = 520px;
$icon_clip_2x_total_height = 1402px;
$icon_clip_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_clip_2x = 0px 162px 0px -162px 28px 34px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-clip@2x';
$icon_coins_2x_name = 'icon-coins@2x';
$icon_coins_2x_x = 0px;
$icon_coins_2x_y = 474px;
$icon_coins_2x_offset_x = 0px;
$icon_coins_2x_offset_y = -474px;
$icon_coins_2x_width = 200px;
$icon_coins_2x_height = 200px;
$icon_coins_2x_total_width = 520px;
$icon_coins_2x_total_height = 1402px;
$icon_coins_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_coins_2x = 0px 474px 0px -474px 200px 200px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-coins@2x';
$icon_diagramma_2x_name = 'icon-diagramma@2x';
$icon_diagramma_2x_x = 0px;
$icon_diagramma_2x_y = 882px;
$icon_diagramma_2x_offset_x = 0px;
$icon_diagramma_2x_offset_y = -882px;
$icon_diagramma_2x_width = 520px;
$icon_diagramma_2x_height = 520px;
$icon_diagramma_2x_total_width = 520px;
$icon_diagramma_2x_total_height = 1402px;
$icon_diagramma_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_diagramma_2x = 0px 882px 0px -882px 520px 520px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-diagramma@2x';
$icon_document_loop_2x_name = 'icon-document-loop@2x';
$icon_document_loop_2x_x = 0px;
$icon_document_loop_2x_y = 678px;
$icon_document_loop_2x_offset_x = 0px;
$icon_document_loop_2x_offset_y = -678px;
$icon_document_loop_2x_width = 200px;
$icon_document_loop_2x_height = 200px;
$icon_document_loop_2x_total_width = 520px;
$icon_document_loop_2x_total_height = 1402px;
$icon_document_loop_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_document_loop_2x = 0px 678px 0px -678px 200px 200px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-document-loop@2x';
$icon_document_2x_name = 'icon-document@2x';
$icon_document_2x_x = 0px;
$icon_document_2x_y = 328px;
$icon_document_2x_offset_x = 0px;
$icon_document_2x_offset_y = -328px;
$icon_document_2x_width = 112px;
$icon_document_2x_height = 142px;
$icon_document_2x_total_width = 520px;
$icon_document_2x_total_height = 1402px;
$icon_document_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_document_2x = 0px 328px 0px -328px 112px 142px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-document@2x';
$icon_eye_2x_name = 'icon-eye@2x';
$icon_eye_2x_x = 0px;
$icon_eye_2x_y = 70px;
$icon_eye_2x_offset_x = 0px;
$icon_eye_2x_offset_y = -70px;
$icon_eye_2x_width = 34px;
$icon_eye_2x_height = 24px;
$icon_eye_2x_total_width = 520px;
$icon_eye_2x_total_height = 1402px;
$icon_eye_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_eye_2x = 0px 70px 0px -70px 34px 24px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-eye@2x';
$icon_fife_2x_name = 'icon-fife@2x';
$icon_fife_2x_x = 0px;
$icon_fife_2x_y = 42px;
$icon_fife_2x_offset_x = 0px;
$icon_fife_2x_offset_y = -42px;
$icon_fife_2x_width = 10px;
$icon_fife_2x_height = 24px;
$icon_fife_2x_total_width = 520px;
$icon_fife_2x_total_height = 1402px;
$icon_fife_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_fife_2x = 0px 42px 0px -42px 10px 24px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-fife@2x';
$icon_file_2x_name = 'icon-file@2x';
$icon_file_2x_x = 0px;
$icon_file_2x_y = 200px;
$icon_file_2x_offset_x = 0px;
$icon_file_2x_offset_y = -200px;
$icon_file_2x_width = 92px;
$icon_file_2x_height = 124px;
$icon_file_2x_total_width = 520px;
$icon_file_2x_total_height = 1402px;
$icon_file_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_file_2x = 0px 200px 0px -200px 92px 124px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-file@2x';
$icon_flag_china_2x_name = 'icon-flag--china@2x';
$icon_flag_china_2x_x = 0px;
$icon_flag_china_2x_y = 130px;
$icon_flag_china_2x_offset_x = 0px;
$icon_flag_china_2x_offset_y = -130px;
$icon_flag_china_2x_width = 44px;
$icon_flag_china_2x_height = 28px;
$icon_flag_china_2x_total_width = 520px;
$icon_flag_china_2x_total_height = 1402px;
$icon_flag_china_2x_image = '../assets/sprites/sprite@2x.png?1591354191180';
$icon_flag_china_2x = 0px 130px 0px -130px 44px 28px 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' 'icon-flag--china@2x';
$spritesheet_width = 260px;
$spritesheet_height = 701px;
$spritesheet_image = '../assets/sprites/sprite.png?1591354191180';
$spritesheet_sprites = $icon_arrow_process $icon_check $icon_clip_red $icon_clip $icon_coins $icon_diagramma $icon_document_loop $icon_document $icon_eye $icon_fife $icon_file $icon_flag_china;
$spritesheet = 260px 701px '../assets/sprites/sprite.png?1591354191180' $spritesheet_sprites;
$retina_spritesheet_width = 520px;
$retina_spritesheet_height = 1402px;
$retina_spritesheet_image = '../assets/sprites/sprite@2x.png?1591354191180';
$retina_spritesheet_sprites = $icon_arrow_process_2x $icon_check_2x $icon_clip_red_2x $icon_clip_2x $icon_coins_2x $icon_diagramma_2x $icon_document_loop_2x $icon_document_2x $icon_eye_2x $icon_fife_2x $icon_file_2x $icon_flag_china_2x;
$retina_spritesheet = 520px 1402px '../assets/sprites/sprite@2x.png?1591354191180' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$icon_arrow_process_group_name = 'icon-arrow-process';
$icon_arrow_process_group = 'icon-arrow-process' $icon_arrow_process $icon_arrow_process_2x;
$icon_check_group_name = 'icon-check';
$icon_check_group = 'icon-check' $icon_check $icon_check_2x;
$icon_clip_red_group_name = 'icon-clip-red';
$icon_clip_red_group = 'icon-clip-red' $icon_clip_red $icon_clip_red_2x;
$icon_clip_group_name = 'icon-clip';
$icon_clip_group = 'icon-clip' $icon_clip $icon_clip_2x;
$icon_coins_group_name = 'icon-coins';
$icon_coins_group = 'icon-coins' $icon_coins $icon_coins_2x;
$icon_diagramma_group_name = 'icon-diagramma';
$icon_diagramma_group = 'icon-diagramma' $icon_diagramma $icon_diagramma_2x;
$icon_document_loop_group_name = 'icon-document-loop';
$icon_document_loop_group = 'icon-document-loop' $icon_document_loop $icon_document_loop_2x;
$icon_document_group_name = 'icon-document';
$icon_document_group = 'icon-document' $icon_document $icon_document_2x;
$icon_eye_group_name = 'icon-eye';
$icon_eye_group = 'icon-eye' $icon_eye $icon_eye_2x;
$icon_fife_group_name = 'icon-fife';
$icon_fife_group = 'icon-fife' $icon_fife $icon_fife_2x;
$icon_file_group_name = 'icon-file';
$icon_file_group = 'icon-file' $icon_file $icon_file_2x;
$icon_flag_china_group_name = 'icon-flag--china';
$icon_flag_china_group = 'icon-flag--china' $icon_flag_china $icon_flag_china_2x;
$retina_groups = $icon_arrow_process_group $icon_check_group $icon_clip_red_group $icon_clip_group $icon_coins_group $icon_diagramma_group $icon_document_loop_group $icon_document_group $icon_eye_group $icon_fife_group $icon_file_group $icon_flag_china_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
