<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/c-setting-and-work.css">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<section class="c-setting-and-work c-compos-services _gray">
	<div class="content-center">
		<h2 class="h1 c-compos-services__caption">Классический состав услуги</h2>
		<div class="c-compos-services__cols content-area">
		    <div class="c-compos-services__left-col">
		    <ol>
						<li>
						<p class="h3">Постановка задачи</p>
						Выявление и анализ ваших требований, постановка 
задачи</li>
						<li>
						<p class="h3">Реализация требований</p>
						Программирование или штатная настройка 1С</li>
						<li>
						    <p class="h3">Тестирование</p>
						    Финальная проверка и презентация результатов 
заказчиков
						</li>
					</ol>
		    </div>
		    <div class="c-compos-services__right-col">
		     <div class="c-maintenance-services__plate">
					<div class="c-maintenance-services__plate-intro">Дополнительные опции</div>
					<div class="c-maintenance-services__plate-icons">
						<!-- Начало блока: Список с иконками-->
						<div class="iconic-list _w-650 _w-920">
							<ul class="iconic-list__list">
								<li class="iconic-list__item"><img src="/local/templates/main/img/content/services-icon-4.png" width="32" alt="" class="iconic-list__img">
									<div class="iconic-list__description">Формирование технического задания, 
эскизного проекта, программы тестовых 
испытаний</div>
								</li>
								<li class="iconic-list__item">
									<div class="iconic-list__description">Формирование пользовательской инструкции 
на настройку</div>
								</li>
								<li class="iconic-list__item">
									<div class="iconic-list__description">Обучение пользователей</div>
								</li>
							</ul>
						</div>
						<!-- Конец блока: Список с иконками-->
					</div>
				</div>
		    </div>
		</div>
		
	</div>
</section>

<section class="c-var-services">
	<div class="content-center">
		<h2 class="h1 c-var-services__caption">Возможные варианты оказания услуги</h2>
		<div class="c-var-services__cols content-area">
		    <p class="h2">Ценообразование</p>
		    <ul class="b-list-row">
		        <li>
		            <p>Фиксированная стоимость и сроки</p>
		    
		                        Если вы готовы сформулировать требования 
		                        к результату, наши специалисты смогут заранее
		                        определить фиксированную стоимость и сроки 
		                        реализации. Только после согласования с вами 
		                        фиксированных условий мы приступим к работе.
		        </li>
		        <li>
		            <p>Оплата полезных фактических трудозатрат</p>
		    
		                        Если вам удобнее формулировать (уточнять) 
		                        требования к результатам постепенно, мы предложим 
		                        вам вариант почасовой оплаты наших услуг. При этом 
		                        вы получите все возможности контроля фактически 
		                        затрачиваемого времени и сможете в оперативном 
		                        режиме отслеживать прогресс решения ваших задач.
		        </li>
		        
		    </ul>
		    
		</div>
<div class="c-var-services__cols content-area">
    <div class="c-var-services__left-col">
        <p class="h2">Оформление</p>
        <ul>
            <li>
                <p>Договор на <a href=" ">регулярное обслуживание</a></p>
Применяется система скидок 
            </li>
            <li>
                <p>Договор на разовое оказание услуги</p>
                Применяется базовая стоимость
            </li>
        </ul>
    </div>
    <div class="c-var-services__right-col">
     <p class="h2">Сроки начала оказания услуг</p>
        <ul>
            <li>
                <p>До 1 дня</p>
С момента вашего первого обращения
            </li>
            <li>
                <p>От 15 минут</p>
                С момента вашего звонка, при заключенном договоре
            </li>
        </ul>
    </div>

</div>

</div>
</section>






<section class="c-where-do _gray">
	<div class="content-center">
		<h2 class="h1 c-where-do__caption">В вашем офисе или онлайн?</h2>
		<div class="c-where-do__cols content-area">
		    <div class="c-where-do__left-col">
		        <p>Благодаря современным технологиям и нашим собственным разработкам 
мы можем оказывать услуги в двух форматах:</p>
        <div class="c-where-do__cols">
		    <div class="c-where-do__left-col half">
           <img src="<?=SITE_TEMPLATE_PATH?>/img/content/icon-office.png" alt="" class="">
           <p class="h3">В вашем офисе</p>
           <p>В вашем офисе
В данном случае наши специалисты выезжают к вам со своими ноутбуками и работают на вашей территории
</p>
        </div>
            <div class="c-where-do__right-col half">
		        <img src="<?=SITE_TEMPLATE_PATH?>/img/content/icon-dist.png" alt="" class="">
		        <p class="h3">Дистанционно</p>
           <p>Дистанционно
Специалисты удаленно подключаются к вашей 1С 
и выполняют все необходимые работы
</p>
		        
		    </div>
            </div>    
		    </div>
		    <div class="c-where-do__right-col">
<div class="plate-content _white">
    <div class="c-product-card__subscribe ">
                                    
                    <div class="subscribe-block js-subscribe-widget appWidgetSubscribeBlock">
                        <div class="subscribe-block__text">
                            Подключите бесплатную услугу «Информирование о&nbsp;новостях
                            и&nbsp;обновлениях 1С»
                        </div>
                        <div class="subscribe-block__form">
                            <form class="js-subscribe-form" action="/local/components/wiseadvice/subscription.input/ajax.php" method="get" target="_blank">
                                <input type="text" placeholder="Ваш e-mail" class="subscribe-block__input js-subscribe-input">
                                <label class="subscribe-block__submit-wrap">
                                    <input type="submit" class="subscribe-block__submit js-subscribe-submit">
                                    <input type="hidden" class="js-subscribe-rub-code" value="DEFAULT_RUBRIC">
                                </label>
                            </form>
                        </div>
                        <div class="subscribe-block__error js-subscribe-error">
                        </div>
                        <div class="subscribe-block__success js-subscribe-success">
                            
                        </div>
                    </div>            </div>
</div>
		    </div>
		</div>
</div>
</section>


<section class="c-method _gray">
	<div class="content-center">
		<h2 class="h1 c-method__caption">Методология выполнения доработок 1С</h2>
		<div class="content-area">
		    <p class="h3">Состав команды проекта по доработке 1С.</p>
		    <ul class="c-method__team">
		        <li>
		            <p>Менеджер, или руководитель проекта <span>(в зависимости от объема требований).</span></p>
		            <span>Функции:</span> планирование, организация, контроль выполнения работ.
		        </li>
		         <li>
		            <p>Аналитик.</p>
		            <span>Функции:</span> обследование, постановка и формализация задачи, контроль разработки и консультирование 
программиста в процессе выполнения, внутреннее тестирование, внешнее тестирование (презентация, 
сдача заказчику).
		        </li>
		        <li>
		            <p>Программист. </p>
		            <span>Функции:</span> Разработка, внутреннее тестирование.
		        </li>
		    </ul>
		    <p class="h3">Краткое описание этапов проекта</p>
		   <div class="more-info">
		         <a href="#" class="h3 more-info__link dotted-link">Обращение клиента и формирование потребности в доработке системы</a>
		         <div class="more-info__container">
		             
		       <p>  У клиента появляется задача по доработке программного продукта, о чем путем отправки заявки, или звонка клиента узнает менеджер и выясняет ключевые ожидания и цели, которые хочет добиться заказчик путем доработки своей программы. На данном этапе речь не идет о формулировании каких-либо технических требований к системе.</p>
		         
		         </div>
		         
		    </div>
		    <div class="more-info">
		         <a href="#" class="h3 more-info__link dotted-link">Демонстрация стандартных возможностей программы и формулировка технического задания</a>
		         <div class="more-info__container">
		             
		         Менеджер передает информацию аналитику, после чего аналитик удаленно, или в офисе заказчика (в зависимости от объема и сложности задачи и ряда организационных моментов) декомпозирует цели заказчика до уровня конкретных решений, при этом:
a.     Если существует возможность использовать для достижения целей типовые (стандартные) возможности программы – аналитик демонстрирует эти возможности клиенту в системе, получая обратную связь о допустимости и удобстве использования типового инструментария системы.
По сути, производится моделирование процесса в программе с тем, чтобы оптимизировать объем доработок и максимально задействовать стандартные возможности системы, которые могут быть не известны заказчику.
b.     Если возможности достижения целей путем использования типовых инструментов системы (a) нет, аналитик фиксирует задачу на уровне понятных заказчику бизнес-процессов и ожиданий, а также декомпозирует требования до уровня технических аспектов, т.е. формирует техническое задание и программу тестовых испытаний (пошаговый план тестовых мероприятий, на сквозных примерах при работе с данными).
Программа тестовых испытаний формируется для задач доработки повышенного объема и сложности, в остальных случаях (локальные доработки) этот документ избыточен, т.к. тестирование может быть осуществлено по техническому заданию.
		         
		         </div>
		         
		    </div>
		    <div class="more-info">
		         <a href="#" class="h3 more-info__link dotted-link"> Оценка трудозатрат на выполнение доработок</a>
		         <div class="more-info__container">
		         <p>После того, как цели клиента стали понятными и декомпозировались до уровня технических решений (зафиксированы в виде ТЗ / ПТИ), задача передается программисту, который оценивает трудозатраты на ее реализацию. Оценка осуществляется с применением рекомендованных нормировочных таблиц, статистических данных (при выполнении аналогичной работы на других проектах), а также экспертных знаний и опыта одного, или нескольких программистов.</p>
<p> 
     В результате, программист предоставляет результат оценки менеджеру с необходимыми комментариями, а, при необходимости – с разъяснениями об ограничениях и допущениях в реализации требований заказчика.</p>
		         
		         </div>
		         
		    </div>
		    <div class="more-info">
		         <a href="#" class="h3 more-info__link dotted-link">Определение и согласование стоимости и сроков выполнения проекта</a>
		         <div class="more-info__container">
		             
		       <p>  Менеджер, на основе оценки трудозатрат на выполнение доработки, формирует смету (бюджет) на выполнение доработки, а также определяет сроки доработки, с учетом времени на программирование, на внутреннее и внешнее тестирование.</p>
 
<p>Бюджет и сроки выполнения доработки согласовываются с клиентом и, при необходимости, обосновываются на доступном уровне.</p>
 
<p>Выполнение работы начинается только после акцепта выявленных требований, а также бюджета и сроков со стороны клиента. Таким образом, бюджет каждой доработки известен клиенту заранее, что позволяет прозрачно и эффективно управлять затратами на автоматизацию.</p>
		         
		         </div>
		         
		    </div>
		     <div class="more-info">
		         <a href="#" class="h3 more-info__link dotted-link">Выполнение проекта и внутреннее тестирование</a>
		         <div class="more-info__container">
		             
		       <p>В процессе реализации доработки программистом, менеджер контролирует прогресс по заданию и промежуточные сроки работ, а аналитик – обеспечивает консультационную поддержку и внутреннее тестирование готовых функций.</p>
		         
		         </div>
		         
		    </div>
		    <div class="more-info">
		         <a href="#" class="h3 more-info__link dotted-link">Совместное тестирование доработок с клиентом</a>
		         <div class="more-info__container">
		             
		       <p>По завершении разработки и внутреннего тестирования, менеджер сообщает клиенту о готовности сдачи результата. Согласовываются дата и время совместного тестирования. Важно, что все доработки внедряются исключительно в копию базы клиента, т.е. в процессе разработки и до момента полного завершения тестовых испытаний изменения в рабочую конфигурацию заказчика не вносятся.</p>
		         
		         </div>
		         
		    </div>
		     <div class="more-info">
		         <a href="#" class="h3 more-info__link dotted-link">Принятие результатов работы клиентом</a>
		         <div class="more-info__container">
		             
		       <p>Сдачу работ заказчику осуществляет аналитик. Программисты практически не взаимодействуют с заказчиком. После проведения всего цикла тестовых испытаний и подтверждения со стороны заказчика достижения ожидаемого результата, работа считается принятой, что, в зависимости от типа заключенного договора, оформляется необходимым образом.</p>
		         
		         </div>
		         
		    </div>
		     <div class="more-info">
		         <a href="#" class="h3 more-info__link dotted-link">Оплата выполненной работы</a>
		         <div class="more-info__container">
		             
		       <p>В конце месяца все выполненные и принятые работы подлежат оплате клиентом по изначально согласованной цене (фиксированному бюджету).</p>
		         
		         </div>
		         
		    </div>
		    <div class="more-info">
		         <a href="#" class="h3 more-info__link dotted-link">Гарантийный период 12 месяцев на все работы</a>
		         <div class="more-info__container">
		             
		       <p>Наша компания предоставляет гарантию 1 год на результаты всех проведенных работ. Т.е. если в течение 12 месяцев возникнет любая ошибка – мы осуществим исправление в полном объеме и в минимальные сроки.</p>
		         
		         </div>
		         
		    </div>
		   
		    
		</div>
</div>
</section>


<!--
<section class="c-where-do _gray">
	<div class="content-center">
		<h2 class="h1 c-where-do__caption">В вашем офисе или онлайн?</h2>
		<div class="c-where-do__cols content-area">
		    <div class="c-where-do__left-col"></div>
		    <div class="c-where-do__right-col"></div>
		</div>
</div>
</section>
-->

<div class="c-setting-and-work  c-prices__distance-block">
	<div class="content-center clear">
		<div class="distance-block__title h1">
			 Мы используем самые новейшие технологии дистанционного обслуживания 1С
		</div>
									<div class="distance-block__list first content-area">
			<h3>Фирменная технология WA Remote-Service</h3>
			<ul>
	<li>Мгновенное подключение специалиста к вашей программе 1С</li>
	<li>Полная конфиденциальность и безопасность ваших данных</li>
	<li>Не требуется установка дополнительных программ</li>
	<li>Бесплатно!</li>
</ul>		</div>
									<div class="distance-block__list  content-area">
			<h3>Нужна срочная услуга по 1С?</h3>
			<ul>
	<li>1 звонок – и через 15 минут мы занимаемся вашим вопросом!</li>
	<li>В любой момент к вашим услугам наши лучшие специалисты</li>
	<li>Дистанционное обслуживание экономит ваши деньги</li>
	<li>Выезд специалиста – по мере необходимости</li>
</ul>		</div>
					</div>
</div>

<section class="c-services-profit">
        <div class="content-center">
            <div class="h1">Почему с&nbsp;нами выгодно работать</div>
            <!-- Начало блока: Список с иконками-->
            <div class="iconic-list _iconic-profit">
                <ul class="iconic-list__list">
                    <li class="iconic-list__item"><img src="/local/templates/main/img/content/services-icon-6.png" width="26" alt="" class="iconic-list__img">
                        <div class="iconic-list__caption">Без авансов</div>
                        <div class="iconic-list__description">Мы не возьмем денег вперед - оплата происходит после оказания услуг</div>
                    </li>
                    <li class="iconic-list__item"><img src="/local/templates/main/img/content/services-icon-7.png" width="27" alt="" class="iconic-list__img">
                        <div class="iconic-list__caption">На ваш выбор</div>
                        <div class="iconic-list__description">Возможность оказания услуг как с выездом специалиста, так и дистанционно</div>
                    </li>
                    <li class="iconic-list__item"><img src="/local/templates/main/img/content/services-icon-8.png" width="27" alt="" class="iconic-list__img">
                        <div class="iconic-list__caption">Быстро</div>
                        <div class="iconic-list__description">Время реагирования специалиста на заявки клиента от 15 минут</div>
                    </li>
                    <li class="iconic-list__item"><img src="/local/templates/main/img/content/services-icon-9.png" width="26" alt="" class="iconic-list__img">
                        <div class="iconic-list__caption">Профессионально</div>
                        <div class="iconic-list__description">Услуги оказывают только сертифицированные специалисты с опытом от 7 лет</div>
                    </li>
                    <li class="iconic-list__item"><img src="/local/templates/main/img/content/services-icon-10.png" width="26" alt="" class="iconic-list__img">
                        <div class="iconic-list__caption">Персонально</div>
                        <div class="iconic-list__description">Специалисты и менеджеры закрепляются за клиентом на весь период сотрудничества</div>
                    </li>
                    <li class="iconic-list__item"><img src="/local/templates/main/img/content/services-icon-11.png" width="26" alt="" class="iconic-list__img">
                        <div class="iconic-list__caption">С гарантией в 2 года</div>
                        <div class="iconic-list__description">Мы уверены в качестве работ, поэтому даём 2 года гарантии на предоставляемые услуги</div>
                    </li>
                </ul>
            </div>
            <!-- Конец блока: Список с иконками-->

        </div>
    </section>
    <section class="c-agile-intro">
<div class="content-center">
	<h1 class="c-agile-intro__caption">Мы настраиваем и дорабатываем 1С 
с 2003 года</h1>
	<div class="c-agile-intro__cols">
		<div class="c-agile-intro__left-col content-area">
			<p>
				Процедуры выполнения работ по доработкам 1С 
установлены нашей системой менеджмента качества 
ISO 9001:2015.

			</p>
			<p>
			
Каждый год, начиная с 2004, мы успешно проходим 
аудиты соответствия наших процедур требованиям 
международного стандарта, нашим аудитором является 
авторитетное международное сертификационное 
общество – «DNV-GL» (Норвегия).
			</p>

		</div>
		<div class="c-agile-intro__right-col">
			<div class="c-agile-intro__caption h2">
				<a class="default-link" title="Реализованные проекты" href="/o-kompanii/nash-opyt/projects/" rel="Реализованные проекты">Реализованные проекты</a>
			</div>
			 <!-- Начало блока: Слайдер плиточного контента-->
			<div class="plate-slider _gray">
				 <?$APPLICATION->IncludeComponent(
	"bitrix:main.include",
	"",
	Array(
		"AREA_FILE_SHOW" => "file",
		"PATH" => SITE_DIR.'/local/include/blocks/projects-inner.php'
	)
);?>
			</div>
			 <!-- Конец блока: Слайдер плиточного контента-->
		</div>
	</div>
</div>
 </section>
  <section class="profteam-section c-services-page">
<div class="content-center">
	<h2 class="h1">Команда профессионалов</h2>
	 <?include($_SERVER['DOCUMENT_ROOT'].'/local/include/blocks/command-2.php');?>
</div>
 </section>
  <section class="experience-section">
<?
        // Блок "Наш опыт"
        include($_SERVER['DOCUMENT_ROOT'].'/local/include/blocks/experience-short.php');
        ?> </section>
 
 
 
 
  <script src="js/core.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
</body>
</html>