.inner-menu
	display none
	position fixed
	z-index 999
	left 0
	right 0
	top 0
	bottom 0
	background-color $main-bg
	padding 30px 0 60px 0
	font-family $primary-font-family
	overflow-x hidden

	+breakpoint-lg()
		padding 42px 0 123px 0

	&._is-open
		display block


	&__row
		display flex
		flex-direction column

		+breakpoint-lg()
			make-row()
			flex-direction row

	&__col
		+breakpoint-up-to-lg()
			&:not(:last-child)
				margin-bottom 30px

		+breakpoint-lg()
			make-col(3)
			make-col-ready()

		&._hidden-on-mobile
			+breakpoint-up-to-lg()
				display none

		&._order-4-on-desktop
			+breakpoint-lg()
				order 4

	&__list
		margin-bottom 0

		&-section
			&:first-child
				+breakpoint-lg()
					padding-top 16px

			&:not(:last-child)
				margin-bottom 30px

		&-link
			line(25, 18)
			font-rem(18)
			color rgba($white, 0.5)
			display inline-block

		&-item
			&:not(:last-child)
				margin-bottom 18px

	&__logo
		margin-bottom 50px
		display inline-block

		img
			vertical-align middle

	&__license-info
		@extend .footer__license-info

		a
			display block
			margin-bottom 24px
			color $text-color--secondary

	&__title
		font-rem(25)
		line(33, 25)
		color $white
		font-weight 700
		margin-bottom 18px
		font-family $secondary-font-family

		+breakpoint-lg()
			margin-bottom 29px

	&__btn
		margin-top 10px
		width 100%
		padding-bottom 16px
		padding-top 16px

		+breakpoint-lg()
			padding-bottom 11px
			padding-top 11px
			width auto

		&:hover
			background-color $color-highlighted

		&
			+
				.inner-menu__list-section
					margin-top 40px