div.lightbox.hide-xs#lightbox
	div.lightbox__center-wrapper
		div.lightbox__form
			input(placeholder='Введите название для проверки').field.lightbox__input
			button(type='submit').btn.lightbox__btn Проверить

