.services-section

	&__btn-holder
		margin-top 32px

		+breakpoint-lg()
			padding-left 110px
			margin-top 52px

	&__btn
		width 100%

		+breakpoint-lg()
			width auto

	&__subtitle
		margin-bottom 32px

		+breakpoint-md()
			margin-bottom 52px
			text-align center
			margin-top -10px

	&__img
		@extend .text-center
		margin-top 15px

		+breakpoint-lg()
			margin-top 0

		img
			vertical-align middle
			max-height 100%
			display inline-block