@font-face {
	font-family:'OpenSans';
	src: url('../fonts/OpenSans_Italic/OpenSans_Italic.eot');
	src: url('../fonts/OpenSans_Italic/OpenSans_Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans_Italic/OpenSans_Italic.woff') format('woff'),
		url('../fonts/OpenSans_Italic/OpenSans_Italic.ttf') format('truetype'),
		url('../fonts/OpenSans_Italic/OpenSans_Italic.svg#OpenSans-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
}